body {
    padding:0;
    margin:0;
    overflow:hidden;
    height: 100vh;
    z-index: 1;
    font-family: 'Pangolin', cursive;
    color: #fff;
}
h1 {
    text-align: center;
}
.main-wrapper {
    position: fixed;
    z-index: 2;
    background-color: rgb(255, 237, 234);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    color: #333333;
    font-size: 22px;
}
.text {
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 2;
}
.dws {
    position: relative;
    display: inline-block;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.butt {
    border: 3px solid #333333;
    border-radius: 10px;
    font-size: 26px;
    color: #333333;
    text-decoration: none;
    width: 180px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    position: relative;
    transition: .5s;
    overflow: hidden;
}
.butt::before,
.butt::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #333333;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}
.butt::after {
    opacity: 1;
    transition-delay: .2s;
}
.butt:hover {
    color: #fff;
}
.butt:hover::before,
.butt:hover::after {
    left: 0;
}
.cl {
    position: relative;
    top: 50%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.49);
}
.wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.butt-wrap {
    padding-top: 20px;
}